<h1>Login</h1>

<div style="width:40%">
  <%= form_tag '/login', ({class:'form-group'}) do %>
    <br>
    <label for="exampleInputEmail1">Email address</label>
    <%= text_field_tag :email, "", class: "form-control"%>
    <br>
    <label for="exampleInputEmail1">Password</label>
    <%= password_field_tag :password, "", class: "form-control" %>
    <br>
    <%= submit_tag("Submit", :id=>"button", :class=>"btn btn-primary", :name=>"submit") %>
  <% end %>
</div>