<h1>Admin Dashboard</h1>
<br>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @categories_count%></span>
    <%= link_to 'All Categories', [:admin, :categories]%>
    </li>
  <li class="list-group-item">
    <span class="badge"><%= @products_count%></span>
        <%= link_to 'All Products', [:admin, :products]%>  </li>
</ul>
